.container {
    width: 743px;
    height: 91px;
    background: #3579F5;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
    justify-content: space-evenly;
}

.main-content {
    display: flex;
    gap: 20px
}

.circleText {
    position: absolute;
    width: 32px;
    height: 30px;
    left: 36px;
    top: 31px;
    color: #FFFFFF;
    
}

.checklist {
    background: #F4F8FF;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4777ED;
    width: 170px;
    height: 40px;
    border-style: none;
}

.hint {
    width: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    height: 18px;

    background: #2364DB;
    border-radius: 40px;

}

.middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}

.heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}